*.dgml
*.suo
*.obj
*.lib
*.log
*.tlog
*.idb
*.pdb
*.manifest
*.lastbuildstate
*.sdf
*.psess
*.opensdf
[Dd]ebug*/
[Rr]elease*/
x64/
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.exe
*.user
*.aps
*.pch
*.ipch
*.vspscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.bak
*.cache
*.ilk
[Bb]in
*.sbr
obj/
external/
ipch/
_ReSharper*/
[Tt]est[Rr]esult*
**/My Advisor XE*
